/*text fonts*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/* background image */
html {
  background: url("saber background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.google-searchengine {
  width: 300px;
  height: 616.59px;
  position: relative;
  float: right;
}

body, #root-folder {
  color: #FFFFFF;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#header {
  background-color: #4596C1;
  height: 150px;
  line-height: 150px;
}

#header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em
}

#header a:hover {
  color: #222;
}

#header-title {
  display: block;
  float: left;
  font-size: 20px;
  font-weight: bold;
}

#header-nav li {
  display: inline;
  padding-left: 20px;
  display: block;
  float: right;
  margin-top: 0;
}

.container, .post-container {
  max-width: 1000px;
  margin: auto;
  text-align: justify;
}

.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}

#footer {
  background-color: #56699E;
  padding: 50px 0;
}

#footer h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#footer p {
  color: white;
}

a {
  color: #4596C1;
  text-decoration: none;
}

a:hover {
  color: #F6A623;
}

.post, .about {
  max-width: 800px;
  margin: 0auto;
  padding: : 60px 0;
}

.post-author img {
  width: 100px;
  height: 100px;
  vertical-align: middle;
}

.post-author img, .about-author img {
  border-radius: 50%;
}

.post-author span {
  margin-left: 16px;
}

.post-date {
  color: #D2D2D2;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.about {
  text-align: center;
}

h1, h2, h3, h4 {
  color: #a7d4f5;
}

p {
  line-height: 1.5;
}

.left-box {
  width: 300px;
  height: 616.59px;
  position: relative;
  float: left;
}

.root-folder {
  padding-left: 10px;
  float: left;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.folders li {
  display: block float: left;
  font-size: 20px;
  text-align: left;
}
